<div class ="container">
  <div class="col-md-2 offset-1">
    <h3 class="my-3 bg-light text-center"><strong>商品詳細</strong></h3>
  </div>

  <div class="row">
    <div class="offset-2">
      <div class="d-flex justfy-content-center">
        <div>
        <%= image_tag @item.get_image, size:"200x200" %>
        </div>
        <div>
          <table>
            <tbody>
                <tr>
                  <th>商品名</th>
                  <td>　<%= @item.name %></td>
                </tr>
                <tr>
                  <th>商品説明</th>
                  <td>　<%= @item.introduction %></td>
                </tr>
                <tr>
                  <th>ジャンル</th>
                  <td>　<%= @item.genre.name %></td>
                </tr>
                <tr>
                  <th>税込価格</br>
                  (税抜価格)</th>
                  <td>　<%= number_with_delimiter(@price_with_tax, delimiter: ',') %>(<%= number_with_delimiter(@item.price, delimiter: ',') %>)円</td>
                </tr>
                <tr>
                  <th>販売ステータス</th>
                  <% if @item.on_sale?  %>
                  <td class="text-success">　販売中</td>
                  <% else %>
                  <td class="text-muted">　販売停止中</td>
                  <% end %>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-lg btn-success" %>
    </div>
  </div>
</div>




