<h1>配送先編集</h1>

<%= form_with model: @address, url: public_address_path(@address.id), method: :patch do |f| %>
        <table>
          <tbody>
            <tr>
              <th>郵便番号</th>
              <td></td>
              <td><%= f.text_field :post_code, class: "post-code" %></td>
              <td colspan="2"></td>
            </tr>
             <tr>
              <th>住所</th>
              <td></td>
              <td colspan="3"><%= f.text_field :address, size: "55%", class: "address" %></td>
            </tr>
            <tr>
              <th>宛名</th>
              <td></td>
              <td><%= f.text_field :name, class: "name" %></td>
            <tr>
              <td colspan="2"></td>
              <td><%= f.submit "変更内容を保存",class: 'btn btn-sm btn-success' %></td>
              <td colspan="2" ></td>
            </tr>
          </tbody>
        </table>
<% end %>