<h3>配送先登録/一覧</h3>
<%= form_with model: @address, url: public_addresses_path do |f| %>
  <div class="row">
    <div class='col-md-8 offset-md-1'>
      <table>
        <tbody>
          <tr>
            <th>郵便番号(ハイフンなし)</th>
            <td></td>
            <td><%= f.text_field :post_code, class: "post-code" %></td>
            <td colspan="2"></td>
          <tr>
            <th>住所</th>
            <td></td>
            <td colspan="3"><%= f.text_field :address, size: "55%", class: "address" %></td>
          </tr>
          <tr>
            <th>宛名</th>
            <td></td>
            <td><%= f.text_field :name, class: "name" %></td>
            <td><%= f.submit "新規登録",class: 'btn btn-sm btn-success' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% @addresses.each do |address| %>
  <div>
    <p>郵便番号：<%= address.post_code %></p>
    <p>住所：<%= address.address %></p>
    <p>宛名：<%= address.name %></p>
    <td><%= link_to '編集する', edit_public_address_path(address.id), class: "btn btn-sm btn-success" %></td>
    <td><%= link_to '削除する', public_address_path(address.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
  </div>
<% end %>