<div>
  <%= flash[:notice] %>
</div>

<div class='my-3 col-md-8  offset-1'>
  <table class="table-warning">
    <tbody>
      <th>配送先登録/一覧</th>
    </tbody>
  </table>
</div>
<%= form_with model: @address, url: public_addresses_path do |f| %>
  <div class="row">
    <div class='col-md-8 my-3 offset-1'>
      <table>
        <tbody>
          <tr>
            <th>郵便番号(ハイフンなし)</th>
            <td></td>
            <td><%= f.text_field :post_code, class: "post-code" %></td>
            <td colspan="2"></td>
          <tr>
            <th>住所</th>
            <td></td>
            <td colspan="3"><%= f.text_field :address, size: "55%", class: "address" %></td>
          </tr>
          <tr>
            <th>宛名</th>
            <td></td>
            <td><%= f.text_field :na, class: "name" %></td>
            <td><%= f.submit "新規登録",class: 'btn btn-sm btn-success' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div class="col-7 my-5 table offset-1">
  <table class="table table-hover table-bordered table-inverse">
    <thead>
      <tr class="table-warning">
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.post_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td class="mx-auto">
          <%= link_to '編集する', edit_public_address_path(address.id), class: "btn btn-sm btn-success" %>
          <%= link_to '削除する', public_address_path(address.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>