<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class='col-md-3 offset-md-1'>
      <h3 class="my-3 bg-light">新規会員登録</h3>
    </div>
  </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

 <div class="row">
    <div class='col-md-8 offset-md-1'>
        <table>
          <tbody>
            <tr>
              <th>名前</th>
              <td>(姓)</td>
              <td><%= f.text_field :last_name, autofocus: true, class: "name" %></td>
              <td>(名)</td>
              <td align="right"><%= f.text_field :first_name, autofocus: true, class: "name" %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td>(セイ)</td>
              <td><%= f.text_field :last_name_kana, autofocus: true, class: "name" %></td>
              <td>(メイ)</td>
              <td align="right"><%= f.text_field :first_name_kana, autofocus: true, class: "name" %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <th>郵便番号(ハイフンなし)</th>
              <td></td>
              <td><%= f.text_field :post_code, autofocus: true, class: "post-code" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <th>住所</th>
              <td></td>
              <td colspan="3"><%= f.text_field :address, autofocus: true,size: "55%", class: "address" %></td>
            </tr>
            <tr>
              <th>電話番号(ハイフンなし)</th>
              <td></td>
              <td><%= f.text_field :telephone_number, autofocus: true, class: "telephone_number" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <th>パスワード(6文字以上)</th>
              <td></td>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <th>パスワード(確認用)</th>
              <td></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td><%= f.submit "新規登録",class: 'btn btn-sm btn-success' %></td>
              <td colspan="2" ></td>
            </tr>
          </tbody>
        </table>
    </div>
 </div>
<% end %>

  <div class="row">
      <div class='col-md-3 offset-md-1'>
        <h3 class="my-3 bg-light">既に登録済みの方</h3>
      </div>
  </div>
  <div class='row'>
      <div class='col-md-4 offset-md-1'>
            <%= render "public/shared/links"%>
      </div>
  </div>

</div>