<div class="mb-6 text-center">
  <span class="text-3xl font-bold">
    注文履歴一覧
  </span>
</div>

<% if @orders.count == 0 %>
  <div class='mx-auto max-w-3xl'>
    <p class='mb-8 text-xl text-center'>No history</p>
  </div>
<% else %>
 <div class="w-full px-3">
    <div class="shadow-soft-xl rounded-2xl bg-clip-border w-full lg:w-3/5 flex  mx-auto">
      <div class="w-full">
        <table class="border-collapse">
          <thead>
            <tr>
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                 <td><%= order.created_at %></td>
                 <td><%= order.address %></td>
                 <td>
                   <% order.order_details.each do |detail| %>
                   <%= detail.item.name %><br>
                   <% end %>
                 </td>
                 <td><%= number_to_currency(order.total_payment, unit: "¥", strip_insignificant_zeros: true) %></td>
                 <td><%= order.status %></td>
                 <td><%= link_to "注文詳細", public_order_path(order.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>