<h3>注文情報入力</h3>

<%= form_with model: @order, url: public_confirm_path , local: true do |f| %>
  <strong><h4>支払い方法</h4></strong>
  <h5>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %><br>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
  </h5>
  <strong><h4>お届け先</h4></strong>

 <h5><%= f.radio_button :select_address, 0, checked: true %>自身の住所</h5>
  <p>〒<%= current_customer.post_code %> <%= current_customer.address %></p>
  <p><%= current_customer.last_name %><%= current_customer.first_name %></p>

 <h5> <%= f.radio_button :select_address, 1 %>登録済み住所</h5>
 <h5><%= f.select :address_id, options_from_collection_for_select(@addresses, :id, ->(address) { "〒#{address.post_code} #{address.address} #{address.name}" }) %></h5>

  <h5> <%= f.radio_button :select_address, 2 %>新しいお届け先</h5>

  <table>
    <tr>
      <td>郵便番号</td>
      <td> <%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>
<div class="text-center">
  <%= f.submit "確認画面へ進む", class: 'btn btn-sm btn-primary' %>
</div>
<% end %>